<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Game Forum</title>
  </head>
  <body>

    <div class="wrapper">
      <header>
        <h1>
          <a href="/" class="button is-link is-large">Gaming Forum</a>
        </h1>
        <nav>
          {{#if loggedIn}}
            <a href="/" class="button is-link">Home</a>
            <a href="/profile" class="button is-link">Profile</a>
            <button class="button is-primary" id="logout-btn">Logout</button>
          {{else}}
            <a href="/signup" class="button is-link">Login/Signup</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
    </div>

    <script src="/javascript/login.js"></script>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}

  </body>

</html>