<div class="container">

  <form class="login-form">
    <div>
      <label for="email-login" class="tag is-primary is-medium">Email:</label>
      <input class="input is-primary" type="email" id="email-login" />
    </div>
    <div>
      <label
        for="password-login"
        class="tag is-primary is-medium"
      >Password:</label>
      <input class="input is-primary" type="password" id="password-login" />
    </div>
    <div>
      <button type="submit" class="button is-link">Login</button>
    </div>
  </form>

  <form class="signup-form">
    <div>
      <label for="email-signup" class="tag is-primary is-medium">Email:</label>
      <input class="input is-primary" type="email" id="email-signup" />
    </div>
    <div>
      <label for="username-signup" class="tag is-primary is-medium">User Name:</label>
      <input class="input is-primary" type="text" id="username-signup" />
    </div>
    <div>
      <label
        for="password-signup"
        class="tag is-primary is-medium"
      >Password:</label>
      <input class="input is-primary" type="password" id="password-signup" />
    </div>
    <div>
      <button type="submit" class="button is-link">Sign Up</button>
    </div>
  </form>

</div>